<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="studentDAO" class="com.desai.common.database_advanced.JdbcStudentDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="studentBean" class="com.desai.common.database_advanced.Student">
		<property name="_Id" value="11" />
		<property name="_Name" value="setu" />
		<property name="_age" value="24" />
	</bean>

</beans>